//text color variables
$primary-color: rgb(18, 49, 223);
$secondary-color: green;

//text size variables
$small-font: 12px;
$medium-font: 18px;
$large-font: 24px;

//border variables
$title-border: 5px solid black;
$book-border: 2px solid black;

//spacing variables
$base-padding: 10px;
$base-margin: 10px;

//change main header to primary color and large font variables
h1 {
    font-size: $large-font;
    color: $primary-color;
    border: $title-border;
}

//change sub header to secondary color and medium font variables
h2 {
    font-size: $medium-font;
    color: $secondary-color;
}

//paragraph set to secondary color and medium font
p {
    font-size: $medium-font;
    color: $secondary-color;
}

//set a tags to small font
a {
    font-size: $small-font;
}

//styling for images
img {
    height: 300px;
    width: 300px;
    border: $book-border;
    border-radius: 10%;
}

//styling class of webpage title section
.pageTitle {
    border: $title-border;
}